.container_btn {
  display: flex;
  justify-content: center;
  margin: 2em 0px;
}
.btn {
  font-weight: 400;
  font-size: 1em;
  line-height: 23px;
  text-align: center;
  background: var(--secondary-light);
  border-radius: 50px;
  color: var(--white);
  outline: none;
  border: 0px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.btn:hover {
  background: var(--primary);
}
.btn_title {
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: var(--white);
}
