:root {
  --white: #ffffff;
  --primary: #1d4d8b;
  --secondary: #113c73;
  --secondary-light: #4285F4;
  --font-roboto: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
*,
*:after,
*:before {
  font-family: var(--font-roboto);
  font-style: normal;
}