.container_products {
  width: 85%;
  margin: 2em auto;
}

.container_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
}
.container_header_titles {
  width: 50%;
}



.line {
  height: 1px;
  background: #bac6d3;
  margin: 2em 0px;
}

@media screen and (max-width: 760px) {
  .container_header_titles {
    width: 100%;
  }
  .container_header {
    flex-direction: column;
  }
  .container_products {
    width: 90%;
  }
}